src/main/java/ltd/ontsol/web/soap/staff/staff.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.yourcompany.com/webservice"
           targetNamespace="http://www.yourcompany.com/webservice" elementFormDefault="qualified">

    <xs:element name="putStaffs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="staffs" type="tns:staff"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="staff">
        <xs:sequence>
            <xs:element name="staffCode" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>